<!DOCTYPE html>
<html>
  <head>
    <title>ApartmentManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header.html.erb" %>
    <%= render "layouts/navbar.html.erb" %>
    <div class="page-container">
      <%= yield %>
    </div>
    <%= render "layouts/footer.html.erb" %>
    <script src="assets/js/vendor.js"></script>

    <script src="assets/js/app.min.js"></script>

    <!-- page js -->
    <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="assets/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="assets/js/dashboard/default.js"></script>

  </body>
</html>
